body {
    background-color: #000; /* Set the background color black */
    margin: 0;
    padding: 0;
}

/* Container for the header and image */
.header-container {
    position: relative;
}

/* Style for the header */
header {
    position: fixed; /* Position the header as fixed */
    top: 0; /* At the top of the viewport */
    left: 0;
    width: 100%; /* Take the full width of the viewport */
    background-color: transparent;
}


/* Style the navigation bar */
#navbar {
    background-color: rgba(0, 0, 0, 0);
    z-index: 11; /* Ensure the navigation bar is above */
}

/* Style for the logo */
#logo {
    text-decoration: none;
    color: none;
    font-size: 50px;
}

#navbar-right {
    text-align: right;
    color:#fff;
}

/* Style for the navigation links */
#navbar-right a {

    text-decoration: none;
    font-size: 50px;
    margin-right: 20px; /* Adjust the margin as needed */
    background-color: rgba(0, 0, 0, 5); /* Background color with opacity */
    border-radius: 0px; /* Rounded corners for the background */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/*background color on hover */
#navbar-right a:hover {
    background-color: rgba(255, 0, 0, 0.5); /* background color on hover */
}

.active{
    background: transparent;
}

.img4 {
    width: 100%; /* Set the width to 100% of its parent container */
    height: 20%;
    background-position: center;/* Center and scale the image nicely */
}

.mark{
    width: auto;
    animation-name: zone;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards
}

.mark {
    background-color: #f01e2c; /* red background color */
    color: #fff; /* White text color */
    padding: 5px 0; /* Add padding top and bottom */
    text-align: center; /* Center-align the content */
}

.bold-text {
    font-weight: bold;
}

/* Style the .zone container inside .mark */
.zone {
    margin: 0 auto; /* Center-align .zone within .mark */
}

/* Style the spans inside .zone */
.zone span {
    display: inline-block;
    margin: 6px; /* Add spacing between spans */
    font-size: 20px; /* Adjust font size */
}

/* Style hover effect for .mark */
.mark:hover {
    background-color: #000; /* Black background color */
    color: #f01e2c; /* red text color on hover */
}

/* Keyframes for text animation */
@keyframes textAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Apply animation to .zone span */
.zone span{
    white-space: nowrap; /* Prevent text from wrapping */
    animation: textAnimation 3s linear infinite; /* Adjust animation duration as needed */
    display: inline-block;
    padding-right: 0px; /* Add spacing between repeated text */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
}

.closebtn{
    font-size: 70px;
}

span[onclick="openNav()"] {
    font-size: 50vh; /* Adjust the font size as needed */
}




.osText{
  text-align:center;
    -webkit-text-stroke:3px #f01e2c;
    position:relative;
    text-transform:uppercase;
    color: #252527;
    font-size: 15vw;
    letter-spacing: 1.2vw;
    font-weight: 500;
    text-shadow:
        
        /*text stroke around letters*/
        0 1px 0 lighten(#252527,17%),
        -1px -1px 0 lighten(#252527,17%), 
        
        /*main 3d shadow*/
        -1px 0px 0 lighten(#252527,6%), 
        -2px 1px 0 lighten(#252527,6%), 
        -3px 2px 0 lighten(#252527,5%), 
        -4px 3px 0 lighten(#252527,4%), 
        -5px 4px 0 lighten(#252527,3%), 
        -6px 5px 0 lighten(#252527,2%), 
        -7px 6px 0 lighten(#252527,1%), 
        -8px 7px 0 #252527, 
        -9px 8px 0 darken(#252527,1%), 
        -10px 9px 0 darken(#252527,2%), 
        -11px 10px 0 darken(#252527,3%), 
        -12px 11px 0 darken(#252527,4%), 
        -13px 12px 0 darken(#252527,5%), 
        -14px 13px 0 darken(#252527,6%), 
        -15px 14px 0 darken(#252527,7%), 
        -16px 15px 0 darken(#252527,8%),
        
        /*top right*/
        0 -1px 1px white,
        0 -2px 0px white,        
        
        /*bottom left corner*/
        -15px 14px 0px white,
        -16px 15px 0px white,
        -17px 16px 0px white,
        -18px 17px 0px white,
        
        
        -2px -1px 0 white,
        -3px -0px 0 white,
        
        /*top left corner*/
        -19px 15px 0 white,
        -18px 14px 0 white,
        -17px 13px 0 white,
        -16px 12px 0 white,
        -15px 11px 0 white,
        -14px 10px 0 white,
        -13px 9px 0 white,
        -12px 8px 0 white,
        -11px 7px 0 white,
        -10px 6px 0 white,
        -9px 5px 0 white,
        -8px 4px 0 white,
        -7px 3px 0 white,
        -6px 2px 0 white,
        -5px 1px 0 white,
        -4px 0px 0 white,
        
        /*lower right / (upper right side for capital T like H etc letters. */ 
        0px 2px 0px white,
        -1px 3px 0px white,
        -2px 4px 0px white,
        -3px 5px 0px white,
        -4px 6px 0px white,
        -5px 7px 0px white, 
        -6px 8px 0px white, 
        -7px 9px 0px white, 
        -8px 10px 0px white, 
        -9px 11px 0px white, 
        -10px 12px 0px white, 
        -11px 13px 0px white, 
        -12px 14px 0px white, 
        -13px 15px 0px white,
        -14px 16px 0px white,
        -15px 17px 0px white;
  
  
  
  
}

.main-content {
    background-color: #000; /* Set the background color black */
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Change to wrap to allow items to flow to the next row */
    justify-content: center;
    align-content: center; /* Center vertically by aligning content */
}

.table-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 700px;
    margin: 10px;
    background-color: black; /* Set the background color to black */
    border: 3px solid red; /* Set the outline color to red */
    color: white; /* Set the text color to white */
    font-size: 24px;
}

td {
    height: 400px;
}

table,
th,
td {
    border: 3px solid red; /* Set the cell borders to red */
    text-align: center;
}

h2 {
    text-align: center;
}

th,
td {
    padding: 10px;
}
 footer {
background-color: #ff4d58;
 color: white;
 padding: 10px 0;
 text-align: center;
 font-size: 15px;
}

.social-icons {
 text-align: center;
 margin-top: 20px;
 color:  #f01e2c;
}

.social-icons a {
 display: inline-block;
 margin: 0 15px; /* Adjust the spacing between icons */
 font-size: 30px;
 color: black;
 text-decoration: none;
}

.social-icons a:hover {
 color: #fff;
}
header {
position: fixed; /* Position the header as fixed */
top: 0; /* At the top of the viewport */
left: 0;
width: 100%; /* Take the full width of the viewport */
background-color: rgba(0, 0, 0, 0.5);
}
#navbar-right a {
text-decoration: none;
font-size: 24px;
color: #fff;
margin-right: 20px; /* Adjust the margin as needed */
background-color: transparent; /* Background color with opacity */
border-radius: 7px; /* Rounded corners for the background */
transition: background-color 0.3s ease; /* Smooth transition for background color */
}
span.nav-icon {
font-size: 28px; /* Set the font size as needed */
cursor: pointer; /* Add a pointer cursor to indicate interactivity */
color: #fff; /* Set the color of the icon */
}
